@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --contrast: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme {
  --color-greenDark: #016630;
  --color-green: #00ff00;
  --color-greenLight: #90ee90;
  --color-dark: #202020;
  --color-dark2: #303030;
}

body {
  margin: 0;
}
svg {
  width: 30px;
}



html.dark body {
  background-color: var(--color-dark);
}
html.dark svg{
  filter: invert(100%);
}

